body{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  min-width: 230px;
  max-width: 1440px;
  margin: 0 auto;
}


body {
  overflow-x: hidden;
}

